{% extends 'base.html' %}

{% block title %}Lending Library -- Login Required{% endblock %}

{% block body %}
        <div class="site-wrapper duck-head">
            <div class="row wrap-inner">
                <div class="container clear-top">
                    <div class="col-sm-10 col-sm-offset-1">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h1 class="text-center">You need to sign in using your Google or Facebook account before you can add or check out books, write reviews, etc.</h1>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h2 class="text-center"><a href="#" data-toggle="modal" data-target="#loginmodal">Sign in now</a></h2>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
